<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<form name="updateForm" th:object="${board}">
		<h3>게시글 수정</h3>
		<table class="table">
			<tr>
				<th>제목</th>
				<td><input type="text" id="title" th:field="*{title}"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea id="contents"  th:field="*{contents}"></textarea></td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<!-- images/이름.jpg  -->
				<td><input type="text" id="image" th:field="*{image}"></td>
			</tr>
			<tr>
				<th>작성일자</th>
				<!-- yyyy/MM/dd -->
				<td><input type="text" id="regdate" placeholder="yyyy/MM/dd"
					th:field="*{regdate}"></td>
			</tr>
		</table>
		<button type="submit" id="updateBtn">저장</button>
	</form>
	<script>
$('#updateBtn').on('click', updateAjax);

function updateAjax(e){
  let dataObj = getFormData();
  $.ajax("boardUpdate", {
    type : 'post', 
   
   
   contentType : 'application/json',
   data: JSON.stringify(dataObj)
  })
  .done((data)=>{
	  if(data.result){
		  alert('완')
	  }else{
		  alert('실패')
	  }

  })
  .fail((err)=>console.log(err));
}

function getFormData(){
  let formAry = $('form[name="updateForm"]').serializeArray();


let formObj = {};
$.each(formAry, function(idx, tag){

formObj[tag.name] = tag.value;

});
return formObj;
}
  </script>
</body>
</html>